#container {
  padding: 2%;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 30px;
  overflow: hidden;
}

h3 {
  margin-top: 20px;
}

.jumbotron {
  .mb-4, .my-4 {
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
  }
  display:flex;
  padding: 1rem 2rem;
  box-shadow: 0 7px 10px -9px #6c6c6c;
  margin-bottom: 30px;
  @media screen and (max-width: 1000px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 600px) {
    & {
      display: block;
      margin-bottom: 0;
    }
  }
  .display-3 {
    font-size: 4rem;
    @media screen and (max-width: 1000px) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 2.2rem;
      text-align:center;
    }
  }
  #title-left {
    margin: 20px;
    align-self: center;
    @media screen and (max-width: 600px) {
      & {
        display: none;
      }
    }
    #image {
      max-height: 100px;
      margin-right: 15px;
    }
  }
  #title-right {
    display: flex;
    align-items: center;
    @media screen and (max-width: 600px) {
      h1 {
        text-align:center;
        width: 100%;
      }
    }
  }
}


p.lead {
  margin-bottom: 2rem!important;
  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
}
#questionaire {
  padding-left: 40px;
  padding-right: 40px;
}
