<div id="container">

  <div class="jumbotron">
    <div id="title-left">
      <img src="../../assets/img/fah.png" alt="Fah" id="image">
    </div>
    <div id="title-right">
      <h1 class="display-3">About &middot; F@H Snapshots</h1>
    </div>
  </div>
  <br>
  <div id="questionaire">
    <h4>What is this?</h4>
    <p class="lead">This site graphs the daily credits gained by the top 100
      <a href="https://foldingathome.org/" target="_blank">Folding@Home</a> teams.
      The information is updated daily at 12:00 (noon) EST.</p>
    <h4>Why did you make this?</h4>
    <p class="lead">
      I wanted to visualize the contribution and progression of teams over time.
      This can be useful to see whether teams are rising in the ranks, or remaining stagnant.
      This project was inspired the aggressive rise in rank of team
      <a href="https://banano.cc/" target="_blank">Banano</a>, which ascended from rank 200,000+ to
      <a href="https://stats.foldingathome.org/teams" target="_blank">16</a> in less than two months.
    </p>
    <h4>When did this start?</h4>
    <p class="lead">The collection of data started on 05/25/2019.</p>
    <h4>Any contact info?</h4>
    <p class="lead">Please send any feature requests, bugs, suggestions, etc to evans.robot.helper@gmail.com.</p>
    <h4>Can I help in any way?</h4>
    <p class="lead">Please
      <a href="https://creeper.banano.cc/explorer/account/ban_34w6fqxtkgs6k5mu5xmi54tyjnp975zprcn3pw91akh1788u6q4itzin964n/history" target="_blank">feed me banano. </a>🙏
  </div>
  <app-footer (clicked)="showHome()" [text]="'home'"></app-footer>
</div>
