#container {
  padding: 2%;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 30px;
  overflow: hidden;
}

.jumbotron {
  .mb-4, .my-4 {
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
  }
  display:flex;
  padding: 1rem 2rem;
  box-shadow: 0 7px 10px -9px #6c6c6c;
  margin-bottom: 1rem;
  .display-3 {
    font-size: 4rem;
    @media screen and (max-width: 1000px) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 2.2rem;
      text-align:center;
    }
  }
  p.lead {
    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
  #title-left {
    margin: 20px;
    align-self: center;
    @media screen and (max-width: 600px) {
      & {
        display: none;
      }
    }
    #image {
      max-height: 210px;
      margin-right:20px;
    }
  }
  #title-right {
    @media screen and (max-width: 600px) {
      & {
        width: 100%;
      }
    }
  }
}

#spinner-container {
  margin:auto;
  text-align:center;
  display:flex;
  justify-content: center;
  margin-top: 8rem;
  @media screen and (max-width: 1000px) {
    margin-top: 4rem;
  }
  @media screen and (max-width: 600px) {
    margin-top: 2rem;
  }
}

#search-button {
  height: 40px;
}

#team-selector {
  margin-right: 20px;
}

#search-button-container {
  width: 100%;
  display:flex;
  justify-content: center;
}

#list-order {
  margin-top: -5px;
  font-size: 13px;
  display:flex;
  align-content: center;
  span {
    margin-right: 20px;
    font-size: 15px;
  }
  ::ng-deep label {
    margin-bottom: unset;
  }
  ::ng-deep .mat-checkbox-label {
    margin-right: 20px;
  }
  ::ng-deep * {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
}

.loading-text {
  font-size: 12px;
  transition: all .5s ease-in-out;
  &.hidden {
    opacity: 0;
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: darkblue !important; /* Red background for example */
}
