<div id="container">
  <div class="jumbotron">
    <div id="title-left">
      <img src="../../assets/img/fah.png" alt="Fah" id="image">
    </div>
    <div id="title-right">
      <h1 class="display-3">F@H Snapshots</h1>
      <p class="lead">Graphs the daily contribution of the top 100 Folding@Home teams.</p>
      <hr class="my-4">
      <mat-form-field id="team-selector">
        <mat-label>Teams <span class="loading-text" [class.hidden]="teamNamePairs.length > 0">(loading)</span></mat-label>
        <mat-select [formControl]="teamSelect" multiple>
          <mat-option *ngFor="let pair of teamNamePairs; let i = index" [value]="pair.id">
            <ng-container *ngIf="isOrderedByRank">{{i+1}} &#x022C5; </ng-container>
            {{pair.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" id="search-button"
              [disabled]="isLoading || isNoTeamSelected()" (click)="search()">search</button>

      <div id="list-order">
        <span>Order by:</span>
        <mat-checkbox [(ngModel)]="isOrderedByName"
                      (change)="onNameCheckboxChange($event)">Name</mat-checkbox>
        <mat-checkbox [(ngModel)]="isOrderedByRank"
                      (change)="onRankCheckboxChange($event)">Rank</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="title-container">
      <div id="title-detail" *ngIf="teamName && teamNumber">
        <h5>{{teamName}}</h5>
        <h6>Team #{{teamNumber}}</h6>
      </div>
    </div>
  </div>
  <dynamic-chart *ngIf="!isLoading" [teamStats]="stats"></dynamic-chart>
  <div id="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <app-footer (clicked)="showAbout()" [text]="'about'"></app-footer>
</div>

