#footer-container {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding-top:8px;
  font-size: 15px;
  position: fixed;
  border-top: solid #eaeaea 1px;
  bottom: 0;
  left: 0;
  display: flex;
  background-color:white;
  width: 100%;
  height: 40px;
  justify-content: center;
  font-family: monospace;
  .hyperlink {
    cursor:pointer;
    color:#8989e4;
    text-decoration:underline;
  }
}
