$ct-series-colors: (
  #d70206,
  #f05b4f,
  #f4c63d,
  #d17905,
  #453d3f,
  #59922b,
  #0544d3,
  #6b0392,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca
) !default;

::ng-deep .ct-legend {
  margin-top:5px;
  pointer-events: none;
  list-style: none;
  position: relative;
  z-index: 10;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  li {
    position: relative;
    padding-left: 23px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 3px;
  }

  li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: 6px;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
  }

  li.inactive:before {
    background: transparent;
  }

  &.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
  }

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1)!important;
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}

.legend {
  color: lightslategray;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  text-align: center;
  font-size: 15px;
  color: #797979;
}

.credits {
  transform: rotate(-90deg);
  float: left;
  position: relative;
  bottom: 26vh;
  right: 62px;
  height: 1px;
}

.date {
  text-align:center;
  width: 100%;
  margin-top: 1px;
  position: relative;
  top: -12px;
}
